
@font-face {
    font-family: 'Tomorrow';
    src: url('/fonts/Tomorrow/Tomorrow-BoldItalic.ttf');
}

.title {
    -fx-font-family: 'Tomorrow';
    -fx-font-size: 90px;
    -fx-text-fill: #FFDD33;
    -fx-background-color: black;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, #FFDD33, 10, 0.8, 0, 0);
}

.glow-text {
    -fx-text-fill: #FFDD33;
    -fx-effect: dropshadow(gaussian, #FF8800, 30, 0.9, 0, 0);
}